body {
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  font-family: sans-serif;
  /* overflow: hidden; */
}

.grid-item-1 {
  width: 100%;
  display: flex;
  padding: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.594);
  backdrop-filter: blur(5px);
  top: 0;
}
.header {
  width: 15%;
  display: flex;
  margin-left: 15;
  /* justify-content: center; */
}
.header .bar {
  width: 35px;
  height: 30px;
  padding: 0.5rem;
  margin: auto auto;
  border-radius: 5px;
  border: 1px solid crimson;
  /* outline: 3px solid rgba(220, 20, 60, 0.498); */
  background-color: transparent;
  display: none;
}
.nav-bars {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-link a {
  padding: 0.7rem;
  text-decoration: none;
  color: crimson;
  position: relative;
}
.nav-link a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5px;
  border-radius: 5px;
  background-color: crimson;
  /* width: 100%; */
}
.nav-link a:hover::after {
  animation-name: width;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.sign-in {
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 10px;
  color: crimson;
  cursor: pointer;
}
.sign-in:hover {
  background-color: crimson;
  color: white;
}
/* grid 2 */
.grid-item-2 {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.revo {
  width: 50%;
}
.revo h1 {
  margin-left: 2rem;
}

.space-paragraph {
  width: 50%;
}

/* grid 3 */
.grid-item-3 {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(./images/pexels-vecislavas-popa-1571458.jpg);
  background-position: center;
  background-size: cover;
  z-index: 101;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.704);
}

.order-now {
  /* background-color: rgba(220, 20, 60, 0.482); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  color: crimson;
  text-align: center;
  font-weight: bold;
}
.order-now select {
  font-weight: bold;
  font-size: 14px;
  border: 1px solid crimson;
  border-radius: 10px;
  margin: 0.6rem;
  background-color: transparent;
  color: crimson;
  padding: 0.4rem;
}

.order-now .book {
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid crimson;
  background-color: transparent;
  cursor: pointer;
  color: crimson;
  padding: 0.7rem;
}
.book:hover {
  background-color: crimson;
  color: white;
}
/* grid 4 */
.grid-item-4 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-int {
  text-align: center;
}
.home-int p {
  width: 80%;
  margin: auto auto;
}
.home-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.slide img {
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.697);
  transition: all 0.8s;
}
.slide {
  transition: all 0.8s;
}
.slide:hover {
  transform: translateY(10px);
  transform: translateX(10px);
  transition: all 0.8s;
}
.grid-item-5 {
  width: 100%;
}
.workspace-about {
  background-color: black;
  color: white;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.left-section {
  width: 50%;
  padding: 0.6rem;
}
.left-section p,
.left-section h3 {
  margin-left: 0.5rem;
  margin-bottom: 1.7rem;
}
.right-section {
  width: 50%;
  padding: 0.6rem;
}
.right-section p {
  margin-bottom: 2rem;
}
.right-section .more {
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.workspace-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.work-img {
  width: 35%;
  margin: 3rem;
}
.work-img img {
  width: 100%;
  border-radius: 10px;
}
.grid-item-6 {
  display: flex;
}
.productive {
  width: 50%;
  padding-left: 0.8rem;
}
.productive p {
  margin-left: 0.9rem;
  width: 80%;
}
.productive h2,
.productive h6 {
  margin-left: 0.9rem;
}
.room-studio {
  margin-left: 0.9rem;

  width: 80%;
  display: flex;
  justify-content: space-between;
}
.Indoor-Agency {
  width: 50%;
  background-image: url("./images/pexels-elvis-2528118.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.agency {
  /* position: absolute; */
  width: 80%;
  height: 30%;
  background-color: rgba(220, 20, 60, 0.633);
  padding: 0.7rem;
  backdrop-filter: blur(5px);
  font-size: 14px;
  border-radius: 10px;
}
.grid-item-7 {
  margin-top: 3.5rem;
  width: 100%;
  text-align: center;
}
.brandss {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}
.brandss img {
  width: 15%;
  margin: 0.8rem;
}
.grid-item-8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.reviews {
  display: flex;
  justify-content: space-around;
  margin: auto auto;
  width: 90%;
}
.rev-1 {
  width: 25%;
  /* background-color: rgb(21, 17, 17); */
  color: black;
  margin: 0.4rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid black;
}
.stars i {
  color: gold;
}

.grid-item-9 {
  background-color: rgba(138, 51, 68, 0.481);
  text-align: center;
  width: 100%;
  padding-top: 1rem;
}
.grid-item-9 table {
  margin: auto auto;
}
.grid-item-9 table td {
  padding: 1rem;
}
/* none and queries */
#nav-bar.display {
  display: block;
}
#bars .bar-pressed {
  border: 2px solid crimson;
  outline: 3px solid rgba(220, 20, 60, 0.498);
}
@media screen and (max-width: 450px) {
  html {
    scroll-behavior: smooth;
  }

  .container {
    width: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto;
    font-size: 18px;
  }

  .grid-item-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: rgb(230, 220, 220);
    z-index: 110;
  }
  .header {
    width: 100%;
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    font-size: 16px;
    /* justify-content: center; */
  }
  .header h2 {
    margin-left: 15;
  }
  .header .bar {
    width: 50px;
    height: 50px;
    padding: 0.9rem;
    margin-right: 30;
    border-radius: 5px;
    /* border: 1px solid crimson; */
    display: block;
    background-color: transparent;
    font-size: 18px;
    color: crimson;
  }
  #bars .bar-pressed {
    border: 2px solid crimson;
    outline: 3px solid rgba(220, 20, 60, 0.498);
  }
  .nav-bars {
    width: 100%;
    text-align: center;

    display: none;
  }
  .nav-link a {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top: 1px solid rgba(220, 20, 60, 0.455);
    border-bottom: 1px solid rgba(220, 20, 60, 0.453);
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  .sign {
    border-bottom: 1px solid crimson;
  }
  .sign-in {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 19px;
    border: none;
    background-color: transparent;
  }
  .grid-item-2 {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .revo {
    width: 100%;
  }
  .revo h1 {
    margin-left: 0.6rem;
  }

  .space-paragraph {
    width: 100%;
  }
  .space-paragraph p {
    margin-left: 0.6rem;
    width: 80%;
  }
  /* grid 3 */
  .grid-item-3 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(./images/pexels-vecislavas-popa-1571458.jpg);
    background-position: center;
    background-size: cover;
    z-index: 99;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.704);
  }

  .order-now {
    /* background-color: rgba(220, 20, 60, 0.482); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    /* backdrop-filter: blur(1px); */
    color: crimson;
    text-align: center;
    font-weight: bold;
    z-index: 100;
  }
  .order-now select {
    font-weight: bold;
    font-size: 14px;
    border: 1px solid crimson;
    border-radius: 10px;
    margin: 0.6rem;
    background-color: transparent;
    color: crimson;
    padding: 0.4rem;
  }

  .order-now .book {
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: transparent;
    cursor: pointer;
    color: crimson;
    padding: 0.7rem;
  }
  .order-now i {
    color: black;
    display: block;
  }
  .book:hover {
    background-color: crimson;
    color: white;
  }
  /* grid 4 */
  .grid-item-4 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-int {
    text-align: center;
  }
  .home-int p {
    width: 90%;
    margin: auto auto;
  }
  .home-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .slide img {
    box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.697);
    transition: all 0.8s;
    width: 70%;
  }
  .slide {
    margin: 0.5rem;
    margin-top: 1.5rem;
    transition: all 0.8s;
  }
  .slide:hover {
    transform: translateY(0);
    transform: translateX(0);
    transition: all 0.8s;
  }
  .grid-item-5 {
    width: 100%;
  }
  .workspace-about {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    font-size: 19px;
  }
  .left-section {
    width: 100%;
    padding: 0;
  }
  .left-section p,
  .left-section h3 {
    margin-left: 0.7rem;
    margin-bottom: 1.7rem;
  }
  .right-section {
    width: 100%;
    padding: 0;
  }
  .right-section p {
    margin-bottom: 2rem;
    margin-left: 0.7rem;
  }
  .right-section .more {
    padding: 0.5rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 19px;
  }
  .workspace-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .work-img {
    width: 80%;
    margin: 2rem;
  }
  .work-img img {
    width: 100%;
    border-radius: 10px;
  }
  .grid-item-6 {
    display: flex;
    flex-direction: column;
  }
  .productive {
    width: 90%;
    padding-left: 0.8rem;
    font-size: 18px;
  }
  .productive p {
    margin-left: 0.9rem;
    width: 80%;
  }

  .productive h6 {
    margin-left: 0.9rem;
    font-size: 16px;
  }
  .room-studio {
    margin-left: 0.9rem;

    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .Indoor-Agency {
    margin-top: 2rem;

    width: 100%;
    height: 550px;
    background-image: url("./images/pexels-elvis-2528118.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
  }
  .agency {
    /* position: absolute; */
    width: 80%;
    height: 40%;
    background-color: rgba(220, 20, 60, 0.8);
    padding: 0.7rem;
    backdrop-filter: blur(5px);
    font-size: 18px;
    border-radius: 10px;
    color: white;
  }
  .agency h5 {
    font-size: 23px;
  }
  .grid-item-7 {
    margin-top: 3.5rem;
    width: 100%;
    text-align: center;
  }
  .brandss {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
  }
  .brandss img {
    width: 25%;
    margin: 0.8rem;
  }
  .grid-item-8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    width: 90%;
  }
  .rev-1 {
    width: 85%;
    /* background-color: rgb(21, 17, 17); */
    color: black;
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 0.6rem;
    border: 1px solid black;
  }
  .stars i {
    color: gold;
  }

  .grid-item-9 {
    background-color: rgba(138, 51, 68, 0.481);
    text-align: center;
    width: 100%;
    padding-top: 1rem;
  }
  .grid-item-9 table {
    margin: 0;
  }
  .grid-item-9 table td {
    padding: 0.4rem;
  }
}
