body {
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

.grid-item-1 {
  width: 100%;
  display: flex;
  padding: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  position: fixed;
  top: 0;
}
.header {
  width: 15%;
  display: flex;
  margin-left: 15;
  /* justify-content: center; */
}
.header .bar {
  width: 35px;
  height: 30px;
  padding: 0.5rem;
  margin: auto auto;
  border-radius: 5px;
  border: 1px solid crimson;
  outline: 3px solid rgba(220, 20, 60, 0.498);
  background-color: transparent;
}
.nav-bars {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-link a {
  padding: 0.7rem;
  text-decoration: none;
}
.grid-item-2 {
  margin-top: 5rem;
}

#nav-bar.display {
  display: block;
}
@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    font-size: 16px;
  }

  .grid-item-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: rgb(255, 255, 255);
  }
  .header {
    width: 100%;
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    font-size: 19px;
    /* justify-content: center; */
  }
  .header h2 {
    margin-left: 15;
  }
  .header .bar {
    width: 50px;
    height: 50px;
    padding: 0.9rem;
    margin-right: 30;
    border-radius: 5px;
    border: 1px solid crimson;
    outline: 3px solid rgba(220, 20, 60, 0.498);
    background-color: transparent;
    font-size: 23px;
  }
  .nav-bars {
    width: 100%;
    text-align: center;
    display: none;
  }
  .nav-link a {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top: 1px solid rgba(220, 20, 60, 0.455);
    border-bottom: 1px solid rgba(220, 20, 60, 0.453);
    text-decoration: none;
    font-size: 19px;
    color: black;
  }
  .sign-in {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 19px;
    border: none;
    background-color: transparent;
  }
}
